*{
    font-family: '微软雅黑';
    font-size: 3vw;
    margin: 0;
    padding: 0;
}
header,section,footer.div,p{
    display: block;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}
.pageHeader{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    /*background-color: #0097FF;*/
    background-color: rgba(0,151,256,1);
    font-size: 1.6rem;
    color: rgba(255,255,255,1);
    text-align: center;
    letter-spacing: 0.2em;
    position: fixed;/*遵守子绝对 父相对*/
    /*em针对上一层容器大小  rem针对根 容器大小*/
    z-index: 9999;
}
.mainContent{
    padding-top: 5rem;
    padding-bottom: 5.666666rem;
    height: 200vh;
    padding-left: 1rem;
    padding-right: 1rem;
    /*background-color: #78BC46;*/
}
.btn{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight:600 ;
    border-radius: 0.5rem;
    letter-spacing: 0.15em;
    border: none;
}
.btn:hover{
    opacity: 0.5;
}
.btn-block{
    display: block;
    width: 100%;
       }
.btn-success{
    background-color:#38CA73 ;
    color: white;
}
.btn-regular{
    background-color:#DDD ;
    color: #666;
}
.baseFrom>*{
    margin: 1rem 0;
}
.inputText,.rightAlign{
    border: none;
    outline: none;
    width: 80%;
    float: right;
    background-color: transparent;
}
.cartFooter{

}
/*
input{
    border: none;
    outline: none;
}
input:focus{
    border: none;
}*/
.pageFooter{
    width: 100%;
    height: 4.666666rem;
    /*line-height: 2.666666rem;*/
    /*background-color: #0097FF;*/
    background-color: rgba(255,255,255,1);
    border-top: 1px solid rgba(211,211,211,1);
    position: fixed;/*遵守子绝对 父相对*/
    bottom:0;
    padding-top: 1rem;
    /*padding-top: 1.3333rem;*/
}
.footNav{
    color: rgba(153,153,153,1);
    display: flex;
    list-style: none;
    justify-items: center;
}

.footNav li{
    flex: 1;
    /*display: block;
    width: 25%;*/
    float: left;
    text-align: center;
}

.footNav a{text-decoration: none;display: block}
.footNav a:link{color: rgba(153,153,153,1)}
.footNav a:hover{color: rgba(153,153,153,1)}
.footNav a:visited{color: rgba(153,153,153,1)}
.footNav a:active{color: rgba(153,153,153,1)}

.footNav a span{
    display: block;
}

/*index.html*/
.typeList{
    /*通用实现。list-style: none;*/
    /*弹性盒子实现*/
    display: flex;
    flex-wrap: wrap;
}
/*让每个li占等宽距离*/


@media screen and  (max-width: 200px) {
    .typeList img {
        width: 100%;
    }
}
.typeList img{
    width: 120px;
}
.typeList li{
    flex: 1;
}

















/*businesslist.html*/

.businessList{
    list-style: none;
}
.businessList li{
    display: block;
    overflow: visible;
    padding: 1em 0;
}
.businessList li::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid gray;
    clear: both;

}

.businessList  a{
    text-decoration: none;
    color: #333333;
}
.businessList a:link{color: #333333}
.businessList a:hover{color: #111111}
.businessList a:visited{color: #333333}
.businessList a:active{color: #333333}
.businessList p,.businessList h3,.businessList div{
    margin: 0.5em 0;
    color: #505051;
}

.businessList h3{font-size: 1.2em;color: black;}
.businessList p{
    width: 20vm;
    float: left;
    position: relative;
    margin-right: 1em;
}
.businessList p>span{
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    background-color: rgba(255,0,0,1);
    right: -0.75em;
    top:-0.75em;
    border-radius: 50%;
    position: absolute;
    color: white;

}
.businessList.col-3 h3,.businessList.col-3 div{
    width: 40vw;
    float: left;
}
.businessList h3,.businessList div{
    width: 60vw;
    float: left;
}
.businessList.col-3 p:last-child{
    float: right;
}
.businessList img{
    width: 20vw;
    height: 20vw;
}

/*  businessList foods  */
/*
.businessList.foods ul{
    display:flex;
    align-items: center;
}
*/
/*conter 那个加1减1 小组件*/

.businessList.food .counter{
    flex: 1;
    text-align: right;
}
.counter input{
    display: inline-block;
    width: 1.1em;
    border:none;
    outline: none;
}
.counter span{
    display: inline-block;
    width: 20px;
    height:20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
}
.counter .left{
    background-color: gray;
}
.counter .right{
    background-color: dodgerblue;
}

/*结算栏*/




















